@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);



#dropdown-menu-2btn-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-0 .nav .link,
#dropdown-menu-2btn-0 .dropdown-item {
  font-size: 1.6em;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#dropdown-menu-2btn-0 .navbar,
#dropdown-menu-2btn-0 .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-0 .dropdown-menu a:hover,
#dropdown-menu-2btn-0 .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-0 .navbar-toggler {
  color: #ffffff;
}
#slider-2 H1 {
  color: #ffffff;
  text-align: left;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 48px;
}
#slider-2 P {
  text-align: left;
  color: #ffffff;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}
